.block[data-widget-definition="at_fvw_widget"] {
	
	.block-minorHeader {
		border-bottom: 1px solid @xf-borderColor;
	}
	
	.block-body.block-row {
		padding: 0;
	}
	
	.block.block--treeEntryChooser {
		margin-bottom: 0;
		
		.block-container {
			border-top: none;
		}
	}

	div.block-header.toggleClass {
		border-top: 1px solid @xf-borderColor;
	}
	
	.block-row.block-row--clickable,
	.block-row .block-row--separated {
		padding-top: 0;
		padding-bottom: 0;
	}
	
	.block-row.block-row--clickable,
	.block-row .block-row--separated,
	.contentRow.contentRow--alignMiddle {
		height: 30px;
	}

	.contentRow-suffix {
		font-size: 12px;
		padding-top: 1px;
		padding-left: 0px;
	}

	.toggleClass::before {
		.m-faBase();
		.m-faContent(@fa-var-arrow-down);
		display:inline-block;
	}
	.toggleClass.expand::before {
		.m-faContent(@fa-var-arrow-right);
	 }

	.block-header.toggleClass .contentRow--alignMiddle {
		display: inline-block;
}
	
	<xf:if is="property('at_fvw_counter')">
		.contentRow-suffix {
			display: none;
		}
	</xf:if>	
	
	<xf:if is="property('at_fvw_node_description') == 'text'">
		.node-icons {
			display: none;
		}
	<xf:elseif is="property('at_fvw_node_description') == 'icons'" />
		.node-text {
			display: none;
		}
	<xf:else />
		.node-icons,
		.node-text {
			display: none;
		}
	</xf:if>
}